{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block heading %}
    <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
            <div class="banner-item-01">
                <div class="text-content">
                    <h4>Jobs all over Pakistan!</h4>
                    <h2>See best opportunities near you</h2>
                </div>
            </div>
            <div class="banner-item-02">
                <div class="text-content">
                    <h4>Find the best talend here!</h4>
                    <h2>Job seekers will apply for jobs</h2>
                </div>
            </div>
            <div class="banner-item-03">
                <div class="text-content">
                    <h4>Develop you career starting from now</h4>
                    <h2>Multiple category of jobs</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->
{% endblock heading %}


{% block content %}
    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Featured Jobs</h2>
                        <a href="{% url 'jobs' %}">view more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                {% for job in featured_job_list %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="{% url 'job' job.pk %}">
                                <img src="{{ job.image.url }}" alt="">
                            </a>
                            <div class="down-content">
                                <a href="{% url 'job' job.pk %}"><h4>{{ job.title }}</h4></a>
                                <h6>Rs. {{ job.salary|intcomma }}</h6>
                                <h4>
                                    <small>
                                        <i class="fa fa-briefcase"></i> {{ job.get_category_display }} <br> <strong>
                                        <i class="fa fa-building"></i> {{ job.company_name }}</strong>
                                    </small>
                                </h4>

                                <small>
                                    <strong title="Posted on">
                                        <i class="fa fa-calendar"></i> {{ job.created_at }}
                                    </strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>
                                    <strong title="Type"><i class="fa fa-file"></i> {{ job.get_type_display }}</strong>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>
                                    <strong title="Location">
                                        <i class="fa fa-map-marker"></i> {{ job.get_location_display }}
                                    </strong>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="best-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>About Us</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <p>We provide jobs from all over pakistan that suit your needs.</p>
                        <ul class="featured-list">
                            <li><a href="#">You can see details of a incomehub users</a></li>
                            <li><a href="#">You can post jobs if you're hiring</a></li>
                            <li><a href="#">When applying for a job, a resume is also attached</a></li>
                            <li><a href="#">Less qualified people can be filtered out</a></li>
                        </ul>
                        <a href="#" class="filled-button">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="{% static 'assets/images/about-1-570x350.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services"
         style="background-image: url({% static 'assets/images/other-image-fullscren-1-1920x900.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Latest blog posts</h2>

                        <a href="#">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <a href="#" class="services-item-image"><img
                                src="{% static 'assets/images/blog-1-370x270.jpg' %}" class="img-fluid" alt=""></a>

                        <div class="down-content">
                            <h4><a href="#">Labourers are getting way more opportunities at incomehub</a></h4>

                            <p style="margin: 0;"> Shahid Afridi &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2021 10:30</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <a href="#" class="services-item-image"><img
                                src="{% static 'assets/images/blog-2-370x270.jpg' %}" class="img-fluid" alt=""></a>

                        <div class="down-content">
                            <h4><a href="#">Incomehub has helped businesses finding best employees</a></h4>

                            <p style="margin: 0;"> Farhat Shah &nbsp;&nbsp;|&nbsp;&nbsp; 08/10/2021 11:53</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <a href="#" class="services-item-image"><img
                                src="{% static 'assets/images/blog-3-370x270.jpg' %}" class="img-fluid" alt=""></a>

                        <div class="down-content">
                            <h4><a href="#">Every business grows with team work of best employees.</a></h4>

                            <p style="margin: 0;"> Waqas Ahmed &nbsp;&nbsp;|&nbsp;&nbsp; 02/12/2021 13:02</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="happy-clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Happy Users</h2>

                        <a href="#">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-clients owl-carousel text-center">
                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Zahid Hussain</h4>
                                <p class="n-m">
                                    <em>
                                        "I was jobless for 3 years after graduating, but ever since I
                                        created an account on incomehub, I got my first job within a week!"
                                    </em>
                                </p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Bilal Asad</h4>
                                <p class="n-m">
                                    <em>
                                        "My boss fired me for eating snacks during work, so I searched for
                                        a job at incomehub, and guess what! I got a PHP job the same day!"
                                    </em>
                                </p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Haroon Shamim</h4>
                                <p class="n-m"><em>"I always had a passion for game development.
                                    This website helped me advance in my career."</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Umer Khalil</h4>
                                <p class="n-m">
                                    <em>
                                        "I used to be a black hat hacker due to no job opportunity. Then
                                        my friend told me about incomehub and I got a job as a penetration
                                        testing cybersecurity engineer!"
                                    </em>
                                </p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Ayesha Khan</h4>
                                <p class="n-m"><em>"I used to work at a restaurant with Rs. 15,000 per month,
                                    but incomehub job portal helped me find a 50K job!"</em></p>
                            </div>
                        </div>

                        <div class="service-item">
                            <div class="icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="down-content">
                                <h4>Ameer Hamza</h4>
                                <p class="n-m"><em>"I am very satisfied with this website!"</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>If you need any help, feel free to contact us!</h4>
                                <p>We usually reply within 24 hours.</p>
                            </div>
                            <div class="col-lg-4 col-md-6 text-right">
                                <a href="#" class="filled-button">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{# TODO(Ali): Clean up demo content and load real content #}
