{% extends 'base.html' %}

{% block title %}{{ job.title }}{% endblock title %}
{% block heading %}
    <div class="page-heading about-heading header-text"
         style="background-image: url({% static 'assets/images/heading-6-1920x500.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>{{ job.title }}</h4>
                        <h2>Job detail</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock heading %}


{% block content %}
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    {% if user == job.author %}
                        <a href="{% url 'job-update' job.pk %}" class="filled-button mb-lg-5">Edit job details</a>
                    {% endif %}
                    <p class="lead">
                        <i class="fa fa-map-marker"></i> {{ job.get_location_display }} &nbsp;&nbsp;
                        <i class="fa fa-calendar"></i> {{ job.created_at }} &nbsp;&nbsp;
                        <i class="fa fa-file"></i> {{ job.get_type_display }}
                    </p>

                    <br>
                    <br>

                    <div class="form-group border-bottom mb-lg-5">
                        <div class="row w-50">
                            <div class="col"><img src="{{ user.profile.image.url }}"
                                                  class="rounded-circle account-img border"></div>
                            <div class="col mt-lg-3">
                                <a href="{% url 'user' user.pk %}">
                                    <h5>{{ user.first_name|add:' '|add:user.last_name }}</h5>
                                    <p class="text-muted">{{ user.email }}</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5>{{ job.title }}</h5>
                    </div>
                    <p>{{ job.description }}</p>

                    <br>
                    <br>
                </div>

                <div class="col-md-3 col-sm-4">
                    {% if user != job.author %}
                        <div class="contact-form">
                            <a href="{% url 'job-apply' job.pk %}"
                               class="filled-button btn-block d-flex justify-content-center">Apply for this job</a>
                            <br><br>
                        </div>
                    {% endif %}

                    <div>
                        <img src="{{ job.image.url }}" alt="" class="img-fluid wc-image">
                    </div>

                    <br>

                    <ul class="social-icons text-center">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>

                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="section-heading">
                        <h2>About {{ job.company_name }}</h2>
                    </div>

                    <p class="lead">
                        <i class="fa fa-map-marker"></i> {{ job.get_location_display }}
                    </p>
                    <p>{{ job.company_description }}</p>
                </div>

                <div class="col-md-3">
                    <div class="section-heading">
                        <h2>Contact Details</h2>
                    </div>

                    <div class="left-content">
                        <p>
                            <span>Name</span>
                            <br>
                            <strong>{{ job.author.first_name|add:' '|add:job.author.last_name }}</strong>
                        </p>

                        <p>
                            <span>Email</span>
                            <br>
                            <strong>
                                <a href="mailto:{{ job.author.email }}">{{ job.author.email }}</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
